*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(to right,  #500472,#79299e );
    min-height: 100%;
    margin: 0;
    overflow-x: hidden;
}

h1{
    font-size: 45px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background:#79cbb8 ;
    width: 300px;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
    font-size: 35px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(400%);
    transition: transform 0.4s ease;
    
}

.content:nth-of-type(even){
    transform: translateX(-400%);
}

.content.show{
    transform: translateX(0);
}
